.navbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
}
.navbar .header-left {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar .header-left img {
  width: 5rem;
  object-fit: contain;
}
.navbar .header-left .tier-text {
  color: var(--primary-txt-color);
  font-family: Gogono;
  font-size: 39px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}
.tier-container {
  position: relative;
}
.tier-container p {
  position: absolute;
  left: 31%;
  top: 20%;
  color: var(--primary-txt-color);
  font-family: Gogono;
  z-index: 100;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  -webkit-text-stroke-color: #b33d1f;
  -webkit-text-stroke-width: 3px;
}
.money-box {
  width: 127.32px;
  height: 41.13px;
  top: 75.84px;
  left: 1898px;
  border-radius: 6.72px;
  border: 2.1px solid var(--primary-txt-color);
  background-color: #0f259e;
  color: var(--primary-txt-color);
  font-family: Gogono;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.header-rigth{
    position: relative;
}
.header-rigth .coin{
    position: absolute;
    position: absolute;
    left: -34%;
}
@media screen and (max-width: 768px) {
  .navbar .header-left .tier-text {
    font-size: 30px;
  }
  .navbar .header-left img {
    width: 3rem;
    object-fit: contain;
  }
  .tier-container p {
    position: absolute;
    left: 31%;
    top: 20%;
    color: var(--primary-txt-color);
    font-family: Gogono;
    z-index: 100;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    -webkit-text-stroke-color: #b33d1f;
    -webkit-text-stroke-width: 3px;
  }
}

@media screen and (max-width: 576px) {
  .navbar .header-left .tier-text {
    font-size: 24px;
  }
  .navbar .header-left img {
    width: 2rem;
    object-fit: contain;
  }
  .tier-container p {
    position: absolute;
    left: 27%;
    top: 19%;
    color: var(--primary-txt-color);
    font-family: Gogono;
    z-index: 100;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    -webkit-text-stroke-color: #b33d1f;
    -webkit-text-stroke-width: 3px;
  }
}
