* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
.activeBtn:active {
  box-shadow: none !important;
  transform: translateY(8px) !important;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --primary-txt-color: #fff;
}
@font-face {
  font-family: Gogono;
  src: url(../src/assets/fonts/gomarice_gogono_cocoa_mochi.ttf);
  font-weight: 400;
}

/* for route transaction */

.scale-enter {
  transform: scale(0);
}

.scale-enter-active {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.scale-exit {
  transform: scale(1);
}

.scale-exit-active {
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}
